@charset="UTF-8";
div{
	width: 200px;
	height: 100px;
}
#d1{
	background-color: green;width: 250px;
}

/*relative相对于这个元素原先的位置定位*/
#d2{
	background-color: orange;
	position: relative;
	top: 20px;
	z-index: -2;

}
#d3{
	background-color: red;width: 250px;
}